<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<style type="text/css">
//html{height:100%;}
* html body{height:100%;}

//body{margin:0;padding:0;font-family:Arial,sans-serif;min-height:100%;}
//div.center-block{margin:10px;height:60px;border:1px solid #d3d6d9;transition: all .15s linear;}
div.center-block{display:flex;align-items:center;justify-content:center;}
//div.center-block:hover{height:12px;}
div.center-block div{width:300px;height:50px;line-height:8px;font-size:24px;text-align:center;background-color:#f3dc80;transition: all .15s linear;}
//div.center-block div:hover{height:80px;line-height:80px;cursor:pointer;}

div.center-block1{display:flex;align-items:center;justify-content:center;}

#DP_TIME{
	position:Absolute;
	width:300px;
	height:30px;
	z-index:1;
	left: 50%-150px;
	top: 55px;
	background-position: center center;
	background-color: #00C000;
	font-size: 16px;
	color: #000000;
	line-height: 28px;
}
#DP_PACKET_CNT{
	position:Absolute;
	width:300px;
	height:30px;
	z-index:1;
	left: 50%-150px;
	top: 81px;
	background-position: center center;
	background-color: #00C000;
	font-size: 16px;
	color: #000000;
	line-height: 28px;
}

#DP{
	position:relative;
	width:0px;
	height:60px;
	z-index:1;
	left: 91px;
	top: 182px;
	background-position: center center;
	background-color: #000000;
	font-size: 16px;
	color: #FF0000;
	line-height: 22px;
	text-align:center;
}
#DP01_WATER_LEVEL {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: -237px;
	top: -93px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP02_WATER_FLOW {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: -237px;
	top: 8Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP03_FUEL_FLOW {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: -237px;
	top: 210Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP04_AIR_FLOW {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: -237px;
	top: 478Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP05_STEAM_PRESSURE {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: 103px;
	top: -93Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP06_STEAM_FLOW {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: 226px;
	top: -93Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}	
#DP07_GAS_TEMPERTURE {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: 334px;
	top: 157Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP08_GAS_OXYGEN {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: 333px;
	top: 228Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP09_WATER_WASTE_FLOW {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: 333px;
	top: 478Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP_STEAM_AMOUNT {
	position:Absolute;
	width:100Px;
	height:34px;
	z-index:2;
	left: 330Px;
	top: -100Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 33Px;
	text-align:center;
  	border:#4a80b1 3px solid; 	
}
#DP_WATER_AMOUNT {
	position:Absolute;
	width:100Px;
	height:34px;
	z-index:2;
	left: -390Px;
	top: 4Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 33Px;
	text-align:center;
  	border:#4a80b1 3px solid; 	
}
#DP_FUEL_AMOUNT {
	position:Absolute;
	width:100Px;
	height:34px;
	z-index:2;
	left: -390Px;
	top: 207Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 33Px;
	text-align:center;
  	border:#4a80b1 3px solid; 	
}
#DP_STEAM_TEMPERTURE {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: -2px;
	top: -93Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP_TDS {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: 270px;
	top: 353Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}
#DP_EFFICIENCY {
	position:Absolute;
	width:63Px;
	height:30px;
	z-index:2;
	left: -360px;
	top: -93Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 30Px;
	text-align:center;
}#DP_WATER_WASTE_AMOUNT {
	position:Absolute;
	width:100Px;
	height:34px;
	z-index:2;
	left: 420Px;
	top: 473Px;
	background-position: center center;
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
	line-height: 33Px;
	text-align:center;
  	border:#4a80b1 3px solid; 	
}
#DPBC{
	position: relative;
	width:50px;
	height:20px;
	z-index:0;
	left: -360px;
	top: -30px;
	background-position: center center;
	background-color: #00C000;
	font-size: 16px;
	color: #FF0000;
	line-height: 22px;
}

#button_event_list{	
    	height:20px; 
    	width:100px; 
    	margin: -20px -50px; 
	position:relative;
	left: 50%;
	top: 780Px;
}
#button_status{	
    	height:20px; 
    	width:100px; 
    	margin: -20px -50px; 
	position:relative;
	left: 60%;
	top: 780Px;
}
#button_unit{	
    	height:20px; 
    	width:10px; 
    	margin: -20px-50px;
	position:Absolute;
	left: -360PX;
	top: -167Px;
	font-size: 24px;	
}

</style>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<div class="center-block"><div>
  <p>Boiler</p>
<div id="DP_TIME">aaaaa</div>  
<div id="DP_PACKET_CNT">aaaaa</div>  

	
<div id="DP">
	<div id="DP01_WATER_LEVEL">CH00</div>
	<div id="DP02_WATER_FLOW">CH01</div>
	<div id="DP03_FUEL_FLOW">CH02</div>
	<div id="DP04_AIR_FLOW">CH03</div>
	<div id="DP05_STEAM_PRESSURE">CH04</div>
	<div id="DP06_STEAM_FLOW">CH08</div>			
 	<div id="DP07_GAS_TEMPERTURE">CH05</div>	
 	<div id="DP08_GAS_OXYGEN">CH06</div>	 	
 	<div id="DP09_WATER_WASTE_FLOW">CH07</div>	 	
 	<div id="DP_STEAM_AMOUNT">CH27</div>	 	
 	<div id="DP_WATER_AMOUNT">CH25</div>
 	<div id="DP_FUEL_AMOUNT">CH26</div> 
 	<div id="DP_STEAM_TEMPERTURE">CH09</div>  	
 	<div id="DP_TDS">CH10</div>  	
 	<div id="DP_EFFICIENCY">CH29</div> 
 	<div id="DP_WATER_WASTE_AMOUNT">CH28</div>  	
 	
	<div id="button_unit">
		<input  type="submit" name="Submit" style="font-size:24px" value="Unit" onclick="msg_unit()">  
	</div> 	
 		 	
 </div>	

  <!--
<p><img src="./bc.jpg" style="display:block; margin:auto;" width="700" 	height="480" border="0" vspace="500" longdesc="my" /> </p>
-->

<div id="DPBC">

<p><img src="./bc.jpg" style="display:block; margin:auto;" width="1000" 	height="685" border="0" vspace="500" longdesc="my" /> </p>	

</div>





  
  </div>
  
</div>
<div id="button_event_list">
	<input  type="submit" name="Submit" value="Main" onclick="javascript:location.href='http://netus.asuscomm.com:8889/index.html'">  
</div>


    <script>
      var alm_hi=0;
      var alm_lo=0;
      var socket = io.connect();
      var fun=0,last_fun=1;
      function msg_unit(){
   	      socket.emit('Web', {'button': 1});       	
   	      console.log('Unit');
	}
      function printf(a,u) {
      	var v=parseInt(a);

      	if(a >= 3000){		
      		//$('this').css('backgroundColor', '#ccc');
      		return(a+u);
      		return("----");
      	}else{
      		return(a+u);
      	};
      }
      function printf_1(r,n,u,st) {
      	/*
      	var v=parseInt(a);
      	var v1=v & 0xbfff;
      	a=v1.toString();
	if(v > 32760){
		v=v-65536;
		a=v.toString();
	};		*/
	//console.log(ss);
	
	if(fun==0x10){
		var b = ss.substr(n*6,6)	
		
		var a= b[1]+b[0]+b[3]+b[2]+b[5];
		document.getElementById(r.substr(1,30)).style.fontSize="24px";			
	}else{
		var a = ss.substr(n*6,6)	//display UNIT		
		//var a="123456"		
		document.getElementById(r.substr(1,30)).style.fontSize="15px";			
	};
	//console.log(r);
	
	switch(st){
	case 0 :
		document.getElementById(r.substr(1,30)).style.backgroundColor="#ffffff";         		
		document.getElementById(r.substr(1,30)).style.color="#000000";  	
        	$(r).text(a+u);    		
		break;
	case 1 :	//hi alarmH
	        document.getElementById(r.substr(1,30)).style.backgroundColor="#ff0000";         	
        	document.getElementById(r.substr(1,30)).style.color="#ffffff"; 
        	$(r).text(a+u);            	
        	break;
	case 2 :	//low alarm
        	$(r).text("----"); ;
        	//$(r).text(a+u);         	
        	document.getElementById(r.substr(1,30)).style.backgroundColor="#0000af";         	
        	document.getElementById(r.substr(1,30)).style.color="#000000";         	
      	
        	break;
        }        	

    	
     	
      }      
      
      	function alm_status(ch) {      
		if((alm_hi & (1<<ch)) != 0){
			return(1);
		}else{
			if(alm_low & (1<<ch))
			return(2);
		}
		return(0);

	}
      
      socket.on('PayLoad', function(data) {
      	//var ss=data.date_t2.split(",");
       
      	ss=data.date_t2;
      	
      	alm_hi=ss.substr(201,9);
      	alm_low=ss.substr(211,9);       	
      	console.log(ss);
        //var s = data.date_t2.substr(0,2);
  	var chk = ss.substr(218,2);
	chk = (chk.charCodeAt(0)<<8) + chk.charCodeAt(1) ;        
  	fun = ss.substr(216,2);
	fun = (fun.charCodeAt(0)<<8) + fun.charCodeAt(1) ; 	
      	//console.log('FUN='+fun);	
	//document.getElementById("#DP01_WATER_LEVEL").style.fontSize="10px";	
$('#DP_STEAM_AMOUNT').fontSize=10; 
		//document.getElementById('#DP_STEAM_AMOUNT').style.color=0;
		//var r = "#DP01_WATER_LEVEL";
	        //document.getElementById("#DP02_WATER_FLOW").style.backgroundColor="#ff0000"; 		
	if(chk == 0x36e8){				    
  
	        //printf_1('#DP07_GAS_TEMPERTURE',ss.substr(0,5),'¢J');
			
	        //$('#DP01').text(printf(ss[0],""));
	        printf_1("#DP01_WATER_LEVEL",0,"",alm_status(0));
	
	        //document.getElementById('DP01').style.backgroundColor="#ff0000";
	        
	        printf_1('#DP02_WATER_FLOW',1,"",alm_status(1));        
	        printf_1('#DP03_FUEL_FLOW',2,"",alm_status(2));         
	        printf_1('#DP04_AIR_FLOW',3,"",alm_status(3));
	        printf_1('#DP05_STEAM_PRESSURE',4,"",alm_status(4));         
	        printf_1('#DP06_STEAM_FLOW',8,"",alm_status(8));
	        printf_1('#DP07_GAS_TEMPERTURE',5,"",alm_status(5));
	        printf_1('#DP08_GAS_OXYGEN',6,"",alm_status(6));                
	        printf_1('#DP09_WATER_WASTE_FLOW',7,"",alm_status(7));         
	        printf_1('#DP_STEAM_TEMPERTURE',9,"",alm_status(9));         
	        printf_1('#DP_TDS',10,"",alm_status(10));         
	        
	        //var amt_steam = parSeInt(ss[28]) + parseInt(ss[29])*65536;
	        $('#DP_STEAM_AMOUNT').text(ss.substr(161,9)); 
	        
	        //var amt_water = parseInt(ss[24]) + parseInt(ss[25])*65536;
	        $('#DP_WATER_AMOUNT').text(ss.substr(141,9));
	        
	        //var amt_fuel = parseInt(ss[26]) + parseInt(ss[27])*65536;
	        $('#DP_FUEL_AMOUNT').text(ss.substr(151,9));                
		var b=ss.substr(180,6)	        
		if(fun==0x10){
			document.getElementById('DP_EFFICIENCY').style.fontSize="24px";			
			var a= b[1]+b[0]+b[3]+b[2]+b[5];				
			//var a= b[1]+b[0]+b[2]+b[3]+b[5];				

		}else{
			document.getElementById('DP_EFFICIENCY').style.fontSize="15px";			
			a=b;
		};	        
	        $('#DP_EFFICIENCY').text(a);         
	        $('#DP_WATER_WASTE_AMOUNT').text(ss.substr(171,9));        
	        last_fun=fun;
	}	        
             
      });        

      socket.on('PayLoad', function(data) {
        //$('#DP_TIME').text(data.dateaa.substr(0,10)+" " +data.dateaa.substr(12,10));  
        var n=new Date();
       $('#DP_TIME').text(n.toLocaleString('ja-JP'));        
        
                     
      });
      socket.on('RxCnt', function(data) {	//amount
        $('#DP_PACKET_CNT').text('Rx : '+data.date_cnt1);         
                     
      });	  
      
    </script>
</body>
</html>